
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Scripts/login.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style type="text/css">
        .bg_grayjianbian {
        background:linear-gradient(45deg,#0094ff,#ff6a00,#0094ff);
        }
        .tr td {
        width:290px;
        text-align:center;
        }
    </style>
</head>
<body>
    <div>
        <div class="flex">
            
            <div class="grid1">
                <img src="~/Content/img/fz.png" alt="Alternate Text" />
            </div>
            <div class="grid1">
                <img src="~/Content/img/方正.png" alt="Alternate Text" />
            </div>
            <div class="grid4 half"style="line-height:130px;">
                <div class="flex">
                    <div class="grid5">
                        <input type="text" name="name" id="text" value="" style="width:700px;height:50px; margin:5px;" />
                    </div>
                    <div class="grid1">
                        <input class="grid1 text_search_button" onclick="search()" id="button" type="submit" name="name" value="歌曲搜索" style="height:50px; border:2px solid #0026ff;" />
                    </div>
                </div>
            </div>
            <div class="grid1"></div>
        </div>
        
        <div  style="height:50px;" class="ul">
            <ul class="bg_grayjianbian flex " style="text-align:center;">
                <text class="grid6 " ></text>
                <li class="grid1" id="file">上传音乐</li>
                <li class="grid1" id="msg">个人信息管理</li>
                <li class="grid1" id="exit">退出系统</li>
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="grid4" id="content">
            <div style="margin:10px ;border-radius:10px;border:1px solid #808080; margin-top:50px;">
                <div id="conten_box"></div>
                <table>
                    <tr class="tr" style="background-color:#e0dada;">
                        <td>序号</td>
                        <td>歌曲</td>
                        <td>歌手</td>
                        <td>试听</td>
                        <td>大小</td>
                        
                       
                    </tr>
                    @*这边就是绑定的东西了*@
                    @foreach (var item in ViewBag.musics as List<model.t_chanson>)
                    {
                        <tr style="height:50px;text-align:center;">
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td>@item.singer</td>
                            <td ><a href="/index/musicplay?path=@item.path">试听</a></td>
                            <td>@item.filesize</td>
                        </tr>
                    }

                       
                </table>
            </div>
        </div>
        <div class="grid2" style="text-align:center;">
            <h2>音乐随性听</h2>
        </div>
        <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
        <script type="text/javascript">
           
            
        $("#exit").click(function exit() {
           @{Session["account"] = "";
               Session["password"] = ""; }
            location.href = "/index/Index";

        });

        $("#msg").click(function () {

            $("#content").children().remove();//将里面的东西都给去除了

            $("#content").append('<div style="margin:100px 0px 1200px 200px;"><form id="form" action="/index/Index" method="post"> 用户&nbsp;名：<input type="text" name="account" id="acc" value="" style="width: 250px;height:28px;" />'
                + '<br /><br />密 &nbsp;&nbsp;&nbsp;码：<input type="text" name="password" id="pas" value="" style="width: 250px;height:28px;" />'
                + '<br /><br /> 昵 &nbsp;&nbsp;&nbsp; 称：<input type="text" name="nichen" id="nic" value="" style="width: 250px;height:28px;" />'
                + ' <br /> <br /> 性 &nbsp;&nbsp;&nbsp; 别：<input type="text" name="sex" id="sex" value="" style="width: 250px;height:28px;" /><br /> <br /> 出生日期:<input type="text" name="brithday" id="bri" value="" style="width: 250px;height:28px;" />'
                + ' <br /> <br /> <br /><br /><input type="submit" name="name" value="确定" style="background-color:cornflowerblue;color:white; width:150px;height:35px; margin-left:140px;" /></form ></div>');
            $("#acc").val('@Session["name"].ToString()');
            $("#pas").val('@Session["pwd"].ToString()');
            $("#nic").val('@Session["nichen"].ToString()');
            $("#sex").val('@Session["sex"].ToString()');
            $("#bri").val('@Session["brithday"].ToString()');
            });
            function search() {
             var t= $("#text").val();
                location.href = "?name="+t;
            }
            $("#file").click(function () {
                $("#content").children().remove();//将里面的东西都给去除了
                $("#content").append('<div style="margin:100px 0px 1200px 200px;"><form id="form" action="/index/filecc" enctype="multipart/form-data" method="post">'
                    + ' <input type = "file" name="file" value="" />'
                    +'<br /><br />歌手名：<input type="text" name="singername" id="signername" style="width: 250px;height:28px;" /><br/><br/>歌曲名：<input id="musicname" name="musicsname" type="text" style="width: 250px;height:28px;" />'
                    +'  <br /> <br />分类选择：<select style="width:100px;" > <option value="中国" >中国</option><option value="美国">美国</option><option value="日本">日本</option></select>'
                    +' <br /> <br /> <input type="submit"  style="width:100px;height:30px" value="上传"/></form></div >');
            });
            function play(obj) {
                console.log($("obj").val());
                //obj.after().play();
            }
            
               
        </script>
    </div>
  
</body>
</html>
